pkgbase = lingmo-calculator
	pkgdesc = A simple calculator.
	pkgver = 0.6.2
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-tools
	depends = qt5-quickcontrols2
	source = https://github.com/LingmoOS/lingmo-calculator/archive/refs/tags/0.6.2.tar.gz
	sha256sums = 3ca6a0576844aa9762ee6381291a79f449b999d10f7d220522d84ba9cb6c9fc8

pkgname = lingmo-calculator
