pkgbase = lingmo-calculator
	pkgdesc = A simple calculator.
	pkgver = 0.6.1
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = qt5-tools
	depends = qt5-quickcontrols2
	source = https://github.com/LingmoOS/lingmo-calculator/archive/refs/tags/0.6.1.tar.gz
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855

pkgname = lingmo-calculator
