pkgbase = lingmo-systemicons
	pkgdesc = Default icon theme for Lingmo.
	pkgver = 2.0.5
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	conflicts = cutefish-icons
	source = https://github.com/LingmoOS/lingmo-systemicons/archive/refs/tags/2.0.5.tar.gz
	sha256sums = 1aac0534950ad6a3ecdfd6be893fc429d473a8466c885e1fb5612dc13c59e9a3

pkgname = lingmo-systemicons
