pkgbase = lingmo-cursor-themes
	pkgdesc = Lingmo OS Cursor Themes
	pkgver = 2.0.2
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	source = https://github.com/LingmoOS/lingmo-cursor-themes/archive/refs/tags/2.0.2.tar.gz
	sha256sums = 2d61290875466f43eb7525c2f87a6bd1d7a2f08c276ceb45404079d6176e1301

pkgname = lingmo-cursor-themes
