pkgbase = lingmoui
	pkgdesc = A GUI library based on QQC2 (Qt Quick Controls 2), every Lingmo application uses it.
	pkgver = 2.2.1
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-quickcontrols2
	depends = qt5-x11extras
	depends = kwindowsystem5
	source = https://github.com/LingmoOS/lingmoui/archive/refs/tags/2.2.1.tar.gz
	sha256sums = 4feb069d34e5c53f2a1f3750e6f908a4d308ff7310eeaf5be1da39ac9e01417c

pkgname = lingmoui
