pkgbase = lingmo-wallpapers
	pkgdesc = Built-in wallpapers for LingmoOS.
	pkgver = 2.8.0
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	source = https://github.com/LingmoOS/lingmo-wallpapers/archive/refs/tags/2.8.0.tar.gz
	sha256sums = dfcee16ad5aa1c4051aac297e3b72c95217aa5d825bfe6453b4fcaabbe7099fc

pkgname = lingmo-wallpapers
