pkgbase = lingmo-statusbar
	pkgdesc = The status bar for LingmoOS.
	pkgver = 2.0.1
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = kwindowsystem5
	depends = qt5-base
	depends = qt5-x11extras
	depends = qt5-quickcontrols2
	depends = qt5-tools
	source = https://github.com/LingmoOS/lingmo-statusbar/archive/refs/tags/2.0.1.tar.gz
	sha256sums = ae730bef91221708cef7265e6dbeed40d1ee4d5a739fee427c736ea79cbb74fe

pkgname = lingmo-statusbar
