pkgbase = lingmo-terminal
	pkgdesc = Terminal emulator using LingmoUI as interface style on LingmoOS.
	pkgver = 2.0.0
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-quickcontrols2
	depends = qt5-x11extras
	depends = qt5-tools
	depends = qt5-graphicaleffects
	depends = lingmoui
	source = https://github.com/LingmoOS/lingmo-terminal/archive/refs/tags/2.0.0.tar.gz
	sha256sums = 9ab8356f9515936477adc7f981d5cc73897d39a0af7007a3e56f5243435f89ed

pkgname = lingmo-terminal
