pkgbase = lingmo-screenlocker
	pkgdesc = Screenlocker for LingmoOS.
	pkgver = 2.0.2
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-x11extras
	depends = dbus
	depends = libx11
	source = https://github.com/LingmoOS/lingmo-screenlocker/archive/refs/tags/2.0.2.tar.gz
	sha256sums = e9320d73c968e7e59eab660cd8e38569f7bc5da9042d109675173d383f1a43ca

pkgname = lingmo-screenlocker
