pkgbase = lingmo-kwin-plugins
	pkgdesc = KWin plugin for LingmoOS
	pkgver = 1.2.2
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = plasma-framework5
	depends = kwin
	depends = qt5-base
	depends = qt5-declarative
	depends = kconfig
	depends = kdecoration
	depends = kguiaddons
	depends = kcoreaddons
	depends = kconfigwidgets
	depends = kwindowsystem
	depends = kwayland
	source = https://github.com/LingmoOS/lingmo-kwin-plugins/archive/refs/tags/1.2.2.tar.gz
	sha256sums = c8ed59c85f74403d7daa99eb511c5dee06b17ad82e594e678de2a3912e94748f

pkgname = lingmo-kwin-plugins
