pkgbase = lingmo-kwin-plugins
	pkgdesc = KWin plugin for LingmoOS
	pkgver = 1.2.1
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = plasma-framework5
	depends = kwin
	depends = qt5-base
	depends = qt5-declarative
	depends = kconfig
	depends = kdecoration
	depends = kguiaddons
	depends = kcoreaddons
	depends = kconfigwidgets
	depends = kwindowsystem
	depends = kwayland
	source = https://github.com/LingmoOS/lingmo-kwin-plugins/archive/refs/tags/1.2.1.tar.gz
	sha256sums = 522b0d8503a93cffcb7b799feeca2709e247a70d99cc569205d66e32c39d708e

pkgname = lingmo-kwin-plugins
