pkgbase = lingmo-dock
	pkgdesc = The dock component of LingmoOS, which relies on LingmoUI.
	pkgver = 2.0.3
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = kwindowsystem5
	depends = qt5-quickcontrols2
	depends = qt5-x11extras
	depends = qt5-tools
	depends = lingmoui
	source = https://github.com/LingmoOS/lingmo-dock/archive/refs/tags/2.0.3.tar.gz
	sha256sums = 98bcd574998b9d452125a59ba0abcb439f0ecc903038d94301a9cbf759bd946b

pkgname = lingmo-dock
