pkgbase = lingmo-settings
	pkgdesc = The system settings application for LingmoOS uses LingmoUI as the interface style.
	pkgver = 3.0.0
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-base
	depends = qt5-quickcontrols2
	depends = qt5-x11extras
	depends = freetype2
	depends = fontconfig
	depends = networkmanager-qt
	depends = modemmanager-qt
	depends = libqtxdg
	depends = lingmoui
	source = https://github.com/LingmoOS/lingmo-settings/archive/refs/tags/3.0.0.tar.gz
	sha256sums = dc86c475a3e7331a163d26c062183262a631f8a22194bc7b940fbb9a99723a00

pkgname = lingmo-settings
