pkgbase = lingmo-texteditor
	pkgdesc = An easy-to-use and aesthetically pleasing text editor for Lingmo OS.
	pkgver = 2.0.1
	pkgrel = 1
	url = https://lingmo.org
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = qt5-tools
	depends = syntax-highlighting5
	source = https://github.com/LingmoOS/lingmo-texteditor/archive/refs/tags/2.0.1.tar.gz
	sha256sums = 89d7f31540b9af7cef74b89e65c9916a88a58ac6bb02fcde3142261f8497a64d

pkgname = lingmo-texteditor
